<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KorokNet</title>
</head>
<body>
    <h1>Авторизация</h1>
    {%if error%}
    <p style="color: red;">{{error}}</p>
    {%endif%}
    <p>Еще не зарегистрированы? <a href="/register">Зарегистрироваться</a></p>
    <form action="/login" method="post">
        <input type="text" name="login" value="{{login}}" required placeholder="Логин">
        <input type="password" name="password" required placeholder="Пароль">
        <button type="submit">Войти</button>
    </form>
</body>
</html>