<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KorokNet</title>
</head>
<body>
    <h1>Профиль</h1>
    <a href="/create_request">Создать заявку</a> | <a href="/logout">Выйти</a>
    {%for r in requests%}
    <div style="border: 1px solid gray; margin: 10px; padding: 10px;">
        <p>Курс: {{r.course_name}} </p> <br>
        <p>Дата: {{r.date_start}} </p> <br>
        <p>Оплата: {{r.payment_method}} </p> <br>
        <p>Статус: {{r.status}} </p>
    </div>
    {%endfor%}
</body>
</html>