<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KorokNet</title>
</head>
<body>
    <h1>Админ-Панель</h1>
    <a href="/logout">Выйти</a>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Логин</td>
            <td>ФИО</td>
            <td>Курс</td>
            <td>Дата</td>
            <td>Оплата</td>
            <td>Статус</td>
        </tr>
        {%for r in requests%}
        <tr>
            <th>{{r.id}}</th>
            <th>{{r.login}}</th>
            <th>{{r.fio}}</th>
            <th>{{r.course_name}}</th>
            <th>{{r.date_start}}</th>
            <th>{{r.payment_method}}</th>
            <th>{{r.status}}</th>
        </tr>
        {%endfor%}
    </table>
</body>
</html>